<app-spinner></app-spinner>

<div class="container">
  <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="d-flex flex-column align-items-center mb-3 bg-secondary box">
      <p><a href="">
        Foto Random
      </a></p>
      <div class="d-flex justify-content-center imagen" *ngFor="let image of arrImagenes|slice:numeroRandom:numeroRandom + 1" >
        <img [src]="image.imageUrl" alt="Imagen Random" class="mw-100 mh-100" style="object-fit: cover;">
      </div>
      <div class="d-flex justify-content-center m-4">
        <button (click)="otraImagen()">Otra Imagen</button>
      </div>
    </div>
  </div>
</div>
